<% include partials/header.ejs %>
<div class="ui raised very padded text container segment">
        <h3 class="ui block blue header">Edit Comment</h3>
        <form action="/blogs/<%= blogId %>/comment/<%= comment._id %>?_method=PUT" method="POST" class="ui form">
            <div class="field">
                <label for="">Description</label>
                <input type="text" name="comment[description]" placeholder="hello" value="<%= comment.description %>">
            </div>
            <button type="submit" class="ui blue basic button">Submit</button>
        </form>
    </div>
<% include partials/footer.ejs %>