<% include partials/header.ejs %>

<div class="ui raised very padded text container segment">
    <h3 class="ui block blue header">New Blog Post</h3>
    <form action="/blogs/new" method="POST" class="ui form">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" placeholder="Title for the blog">
        </div>
        <div class="field">
            <label for="">Image</label>
            <input type="text" name="blog[image]" placeholder="Image url for the blog">
        </div>
        <div class="field">
            <label for="">Description</label>
            <input type="text" name="blog[body]" placeholder="Description for the blog">
        </div>
        <button type="submit" class="ui blue basic button">Submit</button>
    </form>
</div>